<!DOCTYPE html>

<html>

  <head>

    <link href="/assets/styles.css" rel="stylesheet" type="text/css"/>

  </head>

  <body>

    <h1>Contact Success</h1>

      <p>Thank you for getting in touch with us!</p>
      <p>You're trying to contact <%= data.person %> in the <%= data.job %> department.</p>
      <p>We will be replying to <%= data.email %> shortly.</p>

      <% include partial/nav.ejs %>

  </body>

</html>
