<!DOCTYPE html>

<html>

  <head>

      <link href="/assets/styles.css" rel="stylesheet" type="text/css"/>

  </head>

  <body>

    <h1>Welcome to the best webpage on the net</h1>

      <p>You're not going to find any better anywhere else</p>

    <% include partial/nav.ejs %>

  </body>

</html>
